.logo {
  img {
    width: 40%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.logo-image {
  width: 64px;
  position: fixed;
  top: 16px;
  left: 10px;
}
.animate {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: center;
  color: #159414;
  background-image: -webkit-linear-gradient(92deg, #159414, #feab3a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
@media only screen and (max-width: 480px) {
  logo {
    width: 100%;
  }
}
