<router-outlet></router-outlet>

<!-- Hero section -->
<!-- [style.background-image]="heroImages[heroImageIndex]" -->
<section id="hero" class="text-white tm-font-big tm-parallax">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
    <div class="container">
      <div class="tm-next">
        <a href="#hero" class="navbar-brand">
          <img
            src="images/logo.png"
            title="images/logo.png"
            alt="Image"
            class="img-fluid"
            appProdImage
            class="logo-image"
          />
        </a>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars navbar-toggler-icon"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#introduction">
              Introduction
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#work">Our Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#donate">Donate</a>
          </li>
          <!-- <li class="nav-item">
            <select
              [value]="selectedLanguage"
              (change)="onChange($event.target)"
              class=""
            >
              <option value="en">English</option>
              <option value="hi">हिन्दी (Hindi)</option>
            </select>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <div class="text-center tm-hero-text-container">
    <div class="tm-hero-text-container-inner">
      <h1 class="tm-hero-title">NEEV</h1>
      <p class="tm-hero-subtitle">
        <small class="animate d-flex justify-content-center">
          <a href="">Nurture.</a>
          <a href="">Equality.</a>
          <a href="">Education.</a>
          <a href="">Vision.</a>
        </small>
      </p>
    </div>
  </div>

  <div class="tm-next tm-intro-next">
    <a href="#introduction" class="text-center tm-down-arrow-link">
      <i class="fas fa-2x fa-caret-down tm-down-arrow"></i>
    </a>
  </div>
</section>

<section id="introduction" class="tm-section-pad-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img
          src="img/gallery-tn-01.jpeg"
          title="img/gallery-tn-01.jpeg"
          alt="Image"
          class="img-fluid tm-intro-img"
          appProdImage
        />
      </div>
      <!-- <h1 *transloco="let t">{{ t("introduction") }}</h1> -->
      <div class="col-lg-6">
        <div class="tm-intro-text-container">
          <h2 class="tm-text-primary mb-4 tm-section-title">
            {{ "intro-title" | transloco }}
          </h2>
          <p class="mb-4 tm-intro-text">
            {{ "intro-text-p1" | transloco }}
          </p>
          <p class="mb-5 tm-intro-text">
            {{ "intro-text-p2" | transloco }}
          </p>
          <p class="mb-5 tm-intro-text">
            {{ "intro-text-p3" | transloco }}
          </p>
          <div class="tm-next">
            <a href="#work" class="tm-intro-text tm-btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row tm-section-pad-top">
      <div class="col-lg-3">
        <i class="fab fa-4x fa-pagelines text-center tm-icon"></i>
        <h4 class="text-center tm-text-primary mb-1">N</h4>
        <h6 class="text-center tm-text-secondary mb-4">Nurture</h6>
        <p>
          We provide nurturing care that empowers underprivileged children and
          communities to thrive. Through our dedicated efforts, we cultivate an
          environment where hope and potential flourish.
        </p>
      </div>
      <div class="col-lg-3 mt-5 mt-lg-0">
        <i class="fas fa-4x fa-graduation-cap text-center tm-icon"></i>
        <h4 class="text-center tm-text-primary">E</h4>
        <h6 class="text-center tm-text-secondary mb-4">Education</h6>
        <p>
          We believe that education is the key to unlocking a brighter future
          for underprivileged children. We are committed to providing quality
          education, empowering young minds with knowledge, and paving the way
          for a world of endless possibilities.
        </p>
      </div>
      <div class="col-lg-3 mt-5 mt-lg-0">
        <i class="fas fa-4x fa-people-carry text-center tm-icon"></i>
        <h4 class="text-center tm-text-primary">E</h4>
        <h6 class="text-center tm-text-secondary mb-4">Equality</h6>
        <p>
          Equality is at the heart of our mission. We tirelessly work towards
          creating a world where every child, regardless of their background,
          enjoys equal opportunities, rights, and access to a better life.
        </p>
      </div>
      <div class="col-lg-3 mt-5 mt-lg-0">
        <i class="fas fa-4x fa-globe text-center tm-icon"></i>
        <h4 class="text-center tm-text-primary">V</h4>
        <h6 class="text-center tm-text-secondary mb-4">Vision</h6>
        <p>
          Our vision is to create a world where every underprivileged child and
          community has the chance to thrive, breaking the cycle of poverty and
          inequality. We strive to be a beacon of hope and positive change,
          forging a brighter, more equitable future for all.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="work" class="tm-section-pad-top">
  <div class="container tm-container-gallery">
    <div class="row">
      <div class="text-center col-12">
        <h2 class="tm-text-primary tm-section-title mb-4">Our Work</h2>
        <p class="mx-auto tm-work-description">
          "Curabitur ac orci ac lorem blandit volutpat. Sed ac sodales nibh, ut
          porttitor elit. Sed id dui mi. Vestibulum ante ipsum primis in
          faucibus orci luctus et ultrices posuere cubilia."
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="mx-auto tm-gallery-container">
          <div class="grid tm-gallery">
            <a
              href="img/gallery-img-01.jpg"
              title="img/gallery-img-01.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-01.jpg"
                  title="img/gallery-tn-01.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Dreamy <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
            <a
              href="img/gallery-img-02.jpg"
              title="img/gallery-img-02.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-02.jpg"
                  title="img/gallery-tn-02.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Second <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
            <a
              href="img/gallery-img-03.jpg"
              title="img/gallery-img-03.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-03.jpg"
                  title="img/gallery-tn-03.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Third <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
            <a
              href="img/gallery-img-04.jpg"
              title="img/gallery-img-04.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-04.jpg"
                  title="img/gallery-tn-04.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Dreamy <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
            <a
              href="img/gallery-img-05.jpg"
              title="img/gallery-img-05.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-05.jpg"
                  title="img/gallery-tn-05.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Fifth <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
            <a
              href="img/gallery-img-06.jpg"
              title="img/gallery-img-06.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-06.jpg"
                  title="img/gallery-tn-06.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Sixth <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
            <a
              href="img/gallery-img-01.jpg"
              title="img/gallery-img-01.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-01.jpg"
                  title="img/gallery-tn-01.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Dreamy <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
            <a
              href="img/gallery-img-02.jpg"
              title="img/gallery-img-02.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-02.jpg"
                  title="img/gallery-tn-02.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Eighth <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- donate -->
<section id="donate" class="">
  <div class="container tm-container-gallery">
    <div class="row">
      <div class="text-center col-12">
        <h2 class="tm-text-primary tm-section-title mb-4">Donation</h2>
        <p class="mx-auto tm-work-description">
          "Curabitur ac orci ac lorem blandit volutpat. Sed ac sodales nibh, ut
          porttitor elit. Sed id dui mi. Vestibulum ante ipsum primis in
          faucibus orci luctus et ultrices posuere cubilia."
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="mx-auto tm-gallery-container">
          <div class="grid tm-gallery">
            <a
              href="img/gallery-img-01.jpg"
              title="img/gallery-img-01.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-01.jpg"
                  title="img/gallery-tn-01.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Dreamy <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
            <a
              href="img/gallery-img-02.jpg"
              title="img/gallery-img-02.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-02.jpg"
                  title="img/gallery-tn-02.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Second <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
            <a
              href="img/gallery-img-03.jpg"
              title="img/gallery-img-03.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-03.jpg"
                  title="img/gallery-tn-03.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Third <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
            <a
              href="img/gallery-img-04.jpg"
              title="img/gallery-img-04.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-04.jpg"
                  title="img/gallery-tn-04.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Dreamy <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
            <a
              href="img/gallery-img-05.jpg"
              title="img/gallery-img-05.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-05.jpg"
                  title="img/gallery-tn-05.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Fifth <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
            <a
              href="img/gallery-img-06.jpg"
              title="img/gallery-img-06.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-06.jpg"
                  title="img/gallery-tn-06.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Sixth <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
            <a
              href="img/gallery-img-01.jpg"
              title="img/gallery-img-01.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-01.jpg"
                  title="img/gallery-tn-01.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Dreamy <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
            <a
              href="img/gallery-img-02.jpg"
              title="img/gallery-img-02.jpg"
              appProdLink
            >
              <figure class="effect-honey tm-gallery-item">
                <img
                  src="img/gallery-tn-02.jpg"
                  title="img/gallery-tn-02.jpg"
                  alt="Image"
                  class="img-fluid"
                  appProdImage
                />
                <figcaption>
                  <h2>
                    <i>Eighth <span>Honey</span> Now</i>
                  </h2>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section id="contact" class="tm-section-pad-top tm-parallax-2">
  <div class="container tm-container-contact">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-4 tm-section-title">Contact Us</h2>
        <div class="mb-5 tm-underline">
          <div class="tm-underline-inner"></div>
        </div>
        <p class="mb-5">
          18, Collage Colony, Patel Mohalla, Khajrana, Indore, Madhya Pradesh
          452018
        </p>
      </div>

      <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
        <a href="tel:+919302428089" class="tm-contact-item-link">
          <i class="fas fa-3x fa-phone mr-4"></i>
          <span class="mb-0">+91-9302428089</span>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
        <a href="mailto:info@company.co" class="tm-contact-item-link">
          <i class="fas fa-3x fa-envelope mr-4"></i>
          <span class="mb-0">info@neevindore.in</span>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
        <a
          href="https://www.google.com/maps/place/NEEV+(A+SOCIAL+WELFARE+SOCIETY+FOR+NURTURE+EQUALITY+EDUCATION+VISION+)/@22.7370806,75.9078772,15z/data=!4m6!3m5!1s0x3962e3b59b332323:0x2e5515b5f7773916!8m2!3d22.7370806!4d75.9078772!16s%2Fg%2F11stvt2d7r?hl=en-IN&entry=ttu"
          class="tm-contact-item-link"
        >
          <i class="fas fa-3x fa-map-marker-alt mr-4"></i>
          <span class="mb-0">Location on Maps</span>
        </a>
      </div>
      <!-- <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
        <form action="" method="get">
          <input
            name="email"
            type="email"
            placeholder="Subscribe your email"
            class="tm-input"
            required
          />
          <button type="submit" class="btn tm-btn-submit">Submit</button>
        </form>
      </div> -->
      <div class="col-12">
        <div class="container-social">
          <div class="effect jaques">
            <div class="buttons">
              <a
                href="https://www.facebook.com/NEEV.Indore"
                class="fb"
                title="Join us on Facebook"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
              <a
                href="https://twitter.com/NEEVINDORE"
                class="tw"
                title="Join us on Twitter"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>
              <a
                href="https://www.youtube.com/channel/UCKH0Wh3qZqD0MPIRqm347rA"
                class="g-plus"
                title="Join us on Youtube"
                ><i class="fa fa-youtube" aria-hidden="true"></i
              ></a>
              <a
                href="https://www.instagram.com/neev_social_organization/"
                class="insta"
                title="Join us on Instagram"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
              <a
                href="https://www.linkedin.com/company/neev-%E0%A4%A8%E0%A5%80%E0%A4%82%E0%A4%B5/"
                class="in"
                title="Join us on Linked In"
                ><i class="fa fa-linkedin" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="text-center small tm-footer">
    <!-- <p class="mb-0">
      Copyright &copy; 2021 Neev Indore
      <a rel="nofollow" href="https://templatemo.com" class="tm-footer-link">
        Template Mo
      </a>
    </p> -->
  </footer>
</section>
